@media (max-width: 1000px) {

    .hero-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .hero-content {
        text-align: center;
        margin-inline: auto;
    }

    .hero-content p {
        margin-inline: auto;
    }

    .hero-actions {
        justify-content: center;
    }

    .platform-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .why-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}

@media (max-width: 800px) {

    .nav-links {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    .navbar {
        min-height: 70px;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 700px) {

    .container {
        width: min(100% - 30px, var(--container-width));
    }

    .navbar {
        min-height: 70px;
    }

    .nav-links {
        display: none;
    }

    .hero {
        padding: 80px 0;
    }

    .hero-visual {
        min-height: 400px;
    }

    .main-card {
        width: 280px;
    }

    .floating-card-one {
        left: 0;
    }

    .floating-card-two {
        right: 0;
    }

    .platform-grid,
    .services-grid {
        grid-template-columns: 1fr;
    }

    .intro-section,
    .platforms-section,
    .services-section,
    .why-section,
    .cta-section {
        padding: 80px 0;
    }
}
@media (max-width: 600px) {

    .footer-container {
        grid-template-columns: 1fr;
        gap: 35px;
    }

}

@media (max-width: 480px) {

    .hero-actions {
        flex-direction: column;
    }

    .hero-actions .btn {
        width: 100%;
    }

    .floating-card {
        padding: 10px 15px;

        font-size: 0.85rem;
    }

    .floating-card-three {
        bottom: 30px;
        left: 0;
    }
}